.link:link,
.link:visited {
  @include btn-link;
}

.btn:link,
.btn:visited {
  @include btn-link;
  color: #fff;
  background-color: #1b8036;
  font-weight: 500;
  font-size: 2rem;
  padding: 1.5rem 3rem;
  border-radius: 100px;
}

.btn:hover,
.btn:active {
  color: #d1e6d7;
}

.btn--hidden {
  @include btn-link;
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  background-color: #1b8036;
  border: none;
  cursor: pointer;
  box-shadow: 3px 10px 21px rgba(27, 128, 54, 0.51);

  display: none;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
  }
}

.btn--hidden:hover,
.btn--hidden:active {
  & .icon-btn {
    color: #d1e6d7;
  }
}

.icon-btn {
  height: 2.4rem;
  width: 2.4rem;
  color: #fff;
}
