* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 56.25%; // 1rem = 9px; 9/16 = 56.25%
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%; // 1rem = 8px; 8/16 = 50%
  }
}
